@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit&display=swap');
body{
    font-family: 'Itim', cursive;
    background-color: rgba(255, 205, 232, 1);
}
.headd{
    background-color: rgba(243, 0, 131, 1);
}
.cId{
    background-color: rgba(209, 0, 113, 1);
    padding: 15px;
    color: white;
}
/* .im{
    background-color: rgba(166, 0, 89, 1);
} */
.wel{
    background-color: rgba(72, 0, 39, 1);
    color: white;
    font-size:medium;
}
.ex{
    background-color: rgba(243, 0, 131, 1);
    color: white;
}
.btnn{
    background-color: rgba(243, 0, 131, 1);
    border-radius: 20px;
    font-size: 16px;
    width: 120px;
    height: 40px;
    border: 1px solid rgba(72, 0, 39, 1);
    margin-bottom:-50px;
}
a{
    color: white;
    text-decoration:none;
    font-size: 16px;
}
