@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit&display=swap');
body{
    font-family: 'Itim', cursive;
}
.navbar-brand{
    color: deeppink;
}
.myBth{
    color: aliceblue;
    background-color: crimson;
}
.portfolio{
    background-color: rgb(255, 0, 128);
    color: aliceblue;
}