@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit&display=swap');
body{
    font-family: 'Itim', cursive;
    background-color: rgba(255, 205, 232, 1);
}
.abou{
    background-color: rgba(209, 0, 113, 1);
    color: white;
}
.wel{
    background-color: rgba(72, 0, 39, 1);
    color: white;
    font-size:medium;
}
.ec1{
    background-color: rgba(166, 0, 89, 1);
    margin: 1px;
}
.ec2{
    background-color: rgba(209, 0, 113, 1);
}
.ec3{
    background-color:rgba(243, 0, 131, 1);
}