@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit&display=swap');
body{
    font-family: 'Itim', cursive;
    background-color: rgb(255, 255, 255);
}
.headd{
    background-color: rgba(243, 0, 131, 1);
}
.cId{
    background-color: rgba(209, 0, 113, 1);
    padding: 15px;
    color: white;
}
/* .im{
    background-color: rgba(166, 0, 89, 1);
} */
.wel{
    background-color: rgba(72, 0, 39, 1);
    color: white;
    font-size:medium;
}
.ex{
    background-color: rgba(243, 0, 131, 1);
    color: white;
}
.Ex{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.btnn{
    color: rgba(166, 0, 89, 1);
    background-color: rgba(166, 0, 89, 1); 
    border-radius: 20px;
    font-size: 16px;
    width: 120px;
    height: 40px;
    border: 0px solid rgba(72, 0, 39, 1); 
    justify-content: space-between;
    margin-top: -50px;;
}
a{
    color: white;
    text-decoration:none;
    font-size: 16px;
}
.phh{
    background-color: rgba(255, 205, 232, 1);
}
.ph1{
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid rgba(255, 205, 232, 1);
    background-color: rgba(166, 0, 89, 1);
    margin-top: 30px;
}
.cont{
    /* background-color: rgba(209, 0, 113, 1); */
    color: rgb(2, 0, 0);
}

.Contact{
    background-color: white;
}
.fa{
    color: blue;
}
.ig{
    color:rgba(166, 0, 89, 1);
}
.hup{
    color: black;
}